@font-face {
    font-family: apple;
    src: url(/fonts/sf-pro-display_regular.woff2);
}
@font-face {
    font-family: apple pro;
    src: url(/fonts/sf-pro-text_regular.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#navbar{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 25px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    
    border-radius: 0 0 25px 25px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

#navbar a{
    text-decoration: none;
    font-size: 15px;
    color:black;
    font-family: apple;
}
#navbar i{
    font-size: 20px;
    color: black;
}

/* hero section */

.hero-header{
    height: 90%;
    width: 100%;
    padding-top: 100px  ;
    
    background-image: url(/imgs/hero_iphone_17.jpg);
    background-position: center;
    background-size: cover;

    text-align: center;
    color: white;
}

.hero-header h1, h2{
    color: white;
    font-family: apple pro;
}
.hero-header h1{
    font-size: 55px;
    font-weight: 600;
}
.hero-header #h2{
    
}